<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parameterization Test Suite">
      <test name="Test JSONReadTest">
      <class name="org.demo.JSONReadTest"/>

            <classes>
                <class name="TestNGTest.JSONReadTest" />
            </classes>
  </test> <!-- Test -->
</suite> 
   
 
